# ==========================================
# Configuration Monitoring CTI
# ==========================================
# Pour appliquer les configs
# Renome ce fichier en ".env"
# et remplace juste les placeholders 
# par tes vraies configs
# ==========================================

# ====== Configuration Oracle DWH ======
DWH_DSN=localhost:1521/XEPDB1
DWH_READONLY_USER=votre_user
DWH_READONLY_PASSWORD=votre_password
DWH_TABLE_NAME=SCHEMA.TABLE_NAME

# ====== Configuration Email (SMTP) ======
EMAIL_SENDER=votre-email@gmail.com
EMAIL_SENDER_PASSWORD=xxxx xxxx xxxx xxxx

# ====== Configuration générale ======
LOG_DIR=./logs
LOG_LEVEL=INFO
